absl-py==1.0.0
jax[cuda11_cudnn82] == 0.2.26 -f https://storage.googleapis.com/jax-releases/jax_releases.html
brax==0.0.10
gym == 0.15.4
numpy == 1.19.5
scikit-learn==1.0.1
scipy==1.7.3
sklearn == 0.0
typing-extensions == 3.10
