absl-py==1.0.0
brax==0.0.15
chex==0.1.4
dm-haiku==0.0.5
flax==0.6.0
gym==0.23.1
ipython
jax==0.3.17
jupyter
numpy==1.22.3
protobuf==3.19.4
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
sklearn==0.0
tensorflow-probability==0.15.0
typing-extensions==4.3.0
