absl-py==1.0.0
brax==0.10.4
chex==0.1.86
flax==0.8.5
jax==0.4.28
jaxlib==0.4.28
jumanji==0.3.1
numpy==1.26.4
optax==0.1.9
protobuf==3.19.5
scikit-learn==1.5.1
scipy==1.10.1
tensorflow-probability==0.24.0
typing-extensions==4.12.2
